@page "/render-mode-3"
@attribute [RenderModeWebAssembly]

<h3>Render Mode 3 from Client Side</h3>

<button @onclick="UpdateMessage">Click me</button> @message

@code {
    private string message = "Not clicked yet.";

    private void UpdateMessage()
    {
        message = "Somebody clicked me!";
    }
}