@page "/render-mode-1"

<h3>Using RenderModeStatic (Default) on server side</h3>

<button @onclick="UpdateMessage">Click me</button> @message

@code {
    private string message = "Not clicked yet.";

    private void UpdateMessage()
    {
        message = "Somebody clicked me!";
    }
}